*{
    text-align: center;
}

h1{
    font-family: 'Courier New', monospace;
    font-weight: 100;
    color: black;

}

input[type=button]{
    padding: 0 auto;
}
/*hello*/
img{
    max-height: 60vh;
    border: 3px black dashed;
}

button{
    color: green;
    font-size:large;
    padding: 2%;
    width: 20%;
    border-radius: 20px;
}

button:active:enabled{
    color: orange;
}

button.next-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;

    left: 80%;
}

button.answer-button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:disabled{
    color: aqua;
    background-color: blueviolet;
}
