*{
    text-align: center;
}

button{
    color: green;
    font-size:large;
    width: 10%;
    height: 100%;
}

button:active{
    color: orange;
}

button.next-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;

    left: 80%;
}

button.answer-button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}

div{
    margin: 25px;
}